langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
chromadb
rank_bm25
python-dotenv
sentence-transformers
fastapi
uvicorn
langchain-chroma
langchain-openai
